.container
{
    border: 1px solid black;
    display:flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    /* flex-wrap: wrap; */
    flex-basis: 75px;
    flex-grow: 2;
}
.box
{
    padding: 20px;
    margin: 2px;;
    background-color: blueviolet;
}